In [1]:
import pandas as pd
import numpy as np
import os
import json
import re
from os.path import join
from pathlib import Path

In [2]:
path = "/media/root/data/analysis/data/Order_wise_data/"
p2 = "/media/root/data/analysis/data/Item_wise_data/"
citys = ['Bhopal/', 'Delhi/', 'Jaipur/', 'Kolkata/', 'Mumbai/']
months = ['Dec.csv', 'July.csv']

In [3]:
l = citys
l2 = months

In [8]:
for x in l:
    for y in l2:
        print(x,y)
        df = pd.read_csv(path+x+y)
        print(len(df))
        print(df.Store_id.nunique())
        print()
# dfd = df.groupby(['rider_id','store_id']).size().reset_index(name='count')
# print(len(dfd))

Bhopal/ Dec.csv
19881
10

Bhopal/ July.csv
44566
11

Delhi/ Dec.csv
480612
184

Delhi/ July.csv
402299
204

Jaipur/ Dec.csv
31446
15

Jaipur/ July.csv
63602
17

Kolkata/ Dec.csv
88849
50

Kolkata/ July.csv
201325
54

Mumbai/ Dec.csv
236030
87

Mumbai/ July.csv
446767
87

In [6]:
df

,Store_id,City_name,Order_date,Order_number,Order_Items,Store_lat,Store_lng,Delivery_lat,Delivery_lng,Completion_status
0,DPI67132,Delhi,2021-12-17,250,"[{""quantity"": 1, ""menu_code"": ""TACNV06"", ""volu...",28.589777,77.063408,28.586519,77.063353,cancelled
1,DPI66718,Delhi,2021-12-17,307,"[{""quantity"": 1, ""menu_code"": ""PIZ0125"", ""volu...",28.631446,77.278632,28.628116,77.284055,cancelled
2,DPI66257,Delhi,2021-12-17,306,"[{""quantity"": 1, ""menu_code"": ""BEV0123"", ""volu...",28.501110,77.410760,28.511272,77.411100,cancelled
3,DPI66325,Delhi,2021-12-17,225,"[{""quantity"": 1, ""menu_code"": ""PIZ0140"", ""volu...",28.655980,77.433640,28.651905,77.442746,cancelled
4,DPI66106,Delhi,2021-12-17,309,"[{""quantity"": 1, ""menu_code"": ""DIP0005"", ""volu...",28.632068,77.302739,28.631330,77.306490,cancelled
...,...,...,...,...,...,...,...,...,...,...
480607,DPI66718,Delhi,2021-12-30,232,"[{""quantity"": 1, ""menu_code"": ""PIZ5122"", ""volu...",28.631446,77.278632,28.633383,77.275763,delivered
480608,DPI65834,Delhi,2021-12-30,193,"[{""quantity"": 1, ""menu_code"": ""DIP0005"", ""volu...",28.646950,77.118597,28.637177,77.121797,delivered
480609,DPI65957,Delhi,2021-12-30,196,"[{""quantity"": 1, ""menu_code"": ""PIZ0126"", ""volu...",28.638470,77.360670,28.634223,77.366078,delivered
480610,DPI66158,Delhi,2021-12-30,213,"[{""quantity"": 1, ""menu_code"": ""PIZ0132"", ""volu...",28.663046,77.281455,28.676193,77.282897,delivered
480611,DPI66369,Delhi,2021-12-30,225,"[{""quantity"": 1, ""menu_code"": ""BEV0119"", ""volu...",28.643852,77.240568,28.650913,77.232183,delivered